*{
    box-sizing: border-box;
}

body{
       padding: 0;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.container{
    background-color: rgba(130, 48, 207, 0.566);
    width: 50rem; 
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    box-shadow: 5px 4px 5px 5px;
}

.main-container{
    display: flex;
    flex-direction: column;
}

button{
    margin-bottom: 2rem;
    width: 6rem;
    height: 2rem;
    background-color: blanchedalmond;
    border-radius: 10px;
    cursor: pointer;
}

.dog-card {
  text-align: center;
  margin: 20px;
}

.dog-card img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.fav-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.fav-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: #f9f9f9;
}

.fav-card img {
  width: 100%;
  border-radius: 10px;
}
